@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Custom utilities to hide scrollbars */
body::-webkit-scrollbar {
    display: none; 
}

body {
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}
